<% include ./partials/header %>
<div class="ui main text container segment">
  <div class="ui huge header">
    Edit <%= blog.title%>
  </div>
  <form
    class="ui form"
    action="/blogs/<%= blog._id%>?_method=PUT"
    method="post"
  >
    <div class="field">
      <label for="">Title</label>
      <input type="text" name="blog[title]" value="<%= blog.title%>" id="" />
    </div>
    <div class="field">
      <label for="">Image</label>
      <input type="text" name="blog[image]" value="<%= blog.image%>" id="" />
    </div>
    <div class="field">
      <label for="">Description</label>
      <textarea
        name="blog[body]"
        placeholder="Description"
        id=""
        cols="30"
        rows="10"
        required
      >
      <%= blog.body%>
    </textarea
      >
    </div>
    <input class="ui blue basic button big" type="submit" value="Submit" />
  </form>
</div>
<% include ./partials/footer %>
